{% extends "base.html" %}
{% load static %}

{% block title %}
    Viewing Your ToDo.
{% endblock %}



{% comment %} {% block content %}
<h1> View To DO</h1>

{{ todo.title }}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>



<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>

<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

{% endblock %} {% endcomment %}




{% block content %}
<div style="background-color:#00CC99; margin-left: auto;
margin-right: auto; width:50%; height:60%; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5" style="margin-top:2rem; text-align:center;">
            <h2 style="color:#202020; font-weight: 700; font-size:2.4rem;text-align: center; text-shadow:5px 5px 8px #606060;">New Todo</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5" style="width:100%; margin-top:12px;">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group" style="padding:1rem;">
                    <label for="title" style="color:#383838; font-weight:bold; font-size:1.2rem;">Title</label>
                    <input type="text" name="title" class="form-control" id="title" value="{{ todo.title }}" required>
                </div>
                <div class="form-group" style="padding:1rem;">
                    <label for="journal" style="color:#383838; font-weight:bold; font-size:1.2rem;">Detail</label>
                    <textarea name="journal" rows="5" class="form-control" id="journal" value="{{ form.journal }}"></textarea>
                </div>
                <div class="form-group form-check" style=" margin-left:1rem; margin-top:12px; ">
                    <input type="checkbox" name="important" class="form-check-input" id="important" {% if todo.important %}checked{% endif %}>
                    <label class="form-check-label" for="important" style="color:#383838; font-weight:bold; font-size:1rem;">Important</label>
                </div>
                <div style="display: inline-block;height:20%;">
                <button type="submit" class="btn btn" style="margin:1rem; background-color:#003399;color:white;">Save</button>
                </form>
                <form  method="POST" action="{% url 'completetodo' todo.id %}">
                    {% csrf_token %}
                <button type="submit" class="btn btn"  style="margin:1rem; background-color:darkgreen;color:white;">Complete</button>
                </form>
                <form  method="POST" action="{% url 'deletetodo' todo.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn"  style="margin:1rem; background-color:darkred;color:white;">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% comment %} {% if todo.completed is None %}
        <form style='display: none;' method="POST" action="{% url 'completetodo' todo.id %}">
            {% csrf_token %}
            <button id="complete" type="submit" style="margin:1rem; background-color:darkgreen;color:white;">Complete</button>
        </form>
    {% endif %}
    <form style='display: none;' method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button id="delete" type="submit" style="margin:1rem; background-color:darkgreen;color:white;">Delete</button>
    </form> {% endcomment %}
</div>
{% endblock %} 