{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "app.css" %}" />
    {% block css_files %}{% endblock %}
  </head>
  <body class="backgroundi">
    <nav class="navbar navbar-expand-lg navbar-dark" >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "images/pic.png"%}" style="height: 55px; width: 200px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active "aria-current="page" href="{% url "createtodo" %}">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " aria-current="page "href="{% url "currentuser" %}">Current</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " aria-current="page "href="{% url "completedtodo" %}">Completed</a>
              </li>
             
          </ul>
          {% endif %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <div style="margin-right:1rem; margin-top:10px;">
              <small class="title " style="color:white; ">Welcome!<b style="margin-left:9px;">{{user.username}} </b> </small>
            </div>
    
              <li class="nav-but">
                <a class="btn btn-outline-light" href="{% url 'logoutuser' %}">Logout</a>
              </li>
            {% else %} 
            <div style="margin-right:1rem; margin-top:10px;">
              <small class="title " style="color:white; font-weight:bold;">Welcome guest!</small>
            </div>
              <li class="nav-but">
              <a class="btn btn-outline-light" href="{% url 'signupuser' %}">SignUp</a>
            </li>
            <li class="nav-but">
              <a class="btn btn-outline-light" href="{% url 'loginuser' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </section>

    <section style="margin-top: 10rem;">
    
    {% block content %}
    {% endblock %}
    </secction>
  </body>
</html>

{% comment %} {% if  user.is_authenticated %}

Logged In as {{ user.username }}

<a href="{% url 'createtodo' %}">Create</a>
<a href="{% url 'currentuser' %}">Current</a>
<a href="{% url 'completedtodo' %}">Completed</a>

<form action="#" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}
    <a href="#">Sign In</a>
    <a href="#"> Log In </a> {% endcomment %}